.Footer {
    width: 100%;
    margin-top: 5%;
}
.newsletter {
    width: 94%;
    padding: 5% 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0181B0;
    color: white;
}
.privacy a {
    color: black;
    text-decoration: none;
}

.Footer .MuiTextField-root{
    width: 70%;
    color: white;
}
.Footer .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color:  white!important;
    color: black;
}
.Footer .MuiOutlinedInput-notchedOutline {
    border-color:  white!important;
}

#newsletterEmail {
    border-color: white;
}
.copyrightBox {
    width: 90%;
    display: flex ; 
    justify-content:space-between; 
    margin: 0% auto;
    padding: 2% 5%;
    background-color: #0181B0;
    color: white;
}
