.Footer {
    width: 100%;
    margin-top: 5%;
}
.newsletter {
    width: 96%;
    padding: 5% 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0181B0;
    color: white;
}

.MuiTextField-root{
    width: 70%;
    color: white;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color:  white!important;
}
.MuiFormLabel-root.Mui-focused {
    color: white !important;

}
.copyrightBox {
    width: 90%;
    display: flex ; 
    justify-content:space-between; 
    margin: 0% auto;
    padding: 2% 5%;
    background-color: #0181B0;
    color: white;
}