body {
  background-color: #E0EDF5;
  margin: 0;
  padding: 0;
}

/* dark mode */
body.dark {
  background-color: #262a2e;
}
body.dark .Header {
  background-color: #161819;
}
body.dark .blogCard {
  background-color: #161819;
  color: white;
}
body.dark .blogCard-Detail p{
  color: #b5b3b3;
}
body.dark .blogTitle {
  color: white;
}
body.dark .blogCategory {
  color: #d4d4d4;
  background-color: #313438;
}
body.dark .legalBox, 
body.dark .legalBox {
  background-color: #161819;
  color: #d4d4d4;
}
body.dark .Terms, 
body.dark .PrivacyPolicy {
  color: white;
}
body.dark .LittleBlogCard .lbc-detail p{
  color: #d4d4d4;
}

body.dark .blogCategory {
  background-color: #CFCFCF;
  color: black;
}


/* NORMAL MODE */
.MuiButton-text {
  text-transform:capitalize !important;
}
.Header {
  background-color: #262626;
}
/* BLOG CARD */
.blogTitle {
  color: black;
}
.SingleBlog {
  width: 96%;
  margin: 0 auto;
  padding: 0 0 5% 0;
}
.Sidebar {
  width: 90%;
  background-color: #0181B0;
  padding: 10% 5%;
  border-radius: 30px;
}
.Share {
  width: 58%;
  padding: 2% 2% 3% 2%;
  margin: 5% 0 0 0;
  background-color: white;
  border-radius: 30px;
  text-align: center;
}
.Contact {
  width: 100%;
  margin: 5% auto;
}
/* TAGS*/
.blogCategory {
  background-color: #ebebeb;
}

